<head>
<title>Scoreboard</title>
</head>
<body>
  <ul>
    <%i=0%>
    <%@y.each do |key, value|%>
    <% i+=1 %>
<li><%= "#{i} #{key} wins:#{value[0]} loses:#{value[1]}" %></li>
   <%end%>
  </ul>
</body>
